   .btn {
        &:hover {
          background-color: #FFF !important;
          }
        }
    </style>

    <style type="text/css" media="screen">
      @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
      @import url('https://fonts.googleapis.com/css?family=Codystar');


      html {
        font-size: 16px;
      }

      @media screen and (min-width: 955px) {
        body {
          font-size: 1.265rem !important;
        }
        button.keypad_button {
          width: 5rem !important;
          font-size: 1.2rem !important;
        }
        button.keypad_button_small {
          width: 2.3rem !important;
        }
        div.virtual_lcd {
          font-size: 2.36rem !important;
        }
        div#zones_list {
          font-size: 0.75rem !important;
        }
        i.dsc-icon.icon-star {
          font-size: 1.0rem !important;
        }

      }

      body {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: calc(0.38rem + 1.5vw);
      }

      .greenbullet {
        color: #28a745;
      }

      .redbullet {
        color: #dc3545;
      }

      p.state_title {
        display: inline-block;
      }

      p.state_title:not(:first-child) {
        margin-left: 10px;
      }

      button.keypad_button {
/*         width: calc(0.6rem + 10vw); */
		width: 3.99em;
        border-radius: 1.5rem;
        font-weight: bold;
        font-size: calc(0.6rem + 1vw);
        padding: 0.2rem;
/*         max-width: 5rem; */
      }
      
      button.tamanoboton{
      	height: 2em;
      	margin: 0em 0.2em 0em 0em;
      }
      
      button.borderedondo{
      	border-radius: 24px;
      	color: white;
      	background-color: #a9a9a9 !important;
      }

      button.keypad_button_small {
        width: 7.0vw;
        padding: 2px;
        max-width: 2.2rem;
        line-height: 1 !important;
      }

      button.keypad_button_slim {
        width: 14.5vw;
        padding: 2px;
        line-height: 1;
        max-width: 4.5rem;
        line-height: 1 !important;
      }

      button.keypad_button_control {
        width: 11vw;
        padding: 2px;
        font-size: calc(0.6rem + 1vw);
        line-height: 1 !important;
        max-width: 3.5rem;
      }


      div.virtual_lcd {
        background-color: blue;
        color: #ffffff;
/*         font-family: 'Codystar', cursive; */
        font-size: calc(1.3rem + 1.8vw);
/*         font-weight: bold; */
        padding: 0.4em;
        border-radius: 8px;
        flex: 1;
      }

      div#lcd_container {
        width: 100%;
        margin: 0 auto;
        border: 1px solid lightgrey;
        padding: 7px;
        background-color: whitesmoke;
        border-radius: 10px;
        white-space: nowrap;
        margin-bottom: 10px;
        display: flex;
      }

      div.keypad_button_row {
        margin: 0.2em 0.15em 0.2em 0.15em;
        text-align: center;
        white-space: nowrap;
      }

      div.container {
        border: 1px solid #939393;
        border-radius: 20px;
        padding: 10px;
        width: 100vw;
        background-color: #cacaca;
        max-width: 500px;
        min-width: 320px;
        margin-bottom: 10px;
      }

      div.inline_container {
        display: inline-block;
      }

      div.status_icons {
        text-align: center;
        padding: 0px;
        margin: 0px 0px 0px 5px;
        flex: 0;
        color: grey;
      }
      
      div.tituloalineado{
      	text-align: center;
      	font-size: medium;
      }

      div.status_icons i {
        display: block;
        padding: 4px 0px;
        margin: 0px;
      }

       button.btn { 
         background-color: #d9dcdf;
         border: 2px solid #898e94; 
       } 
       
   	div.bordecolumna1{
		border: 1px solid lightgrey;
		border-radius: 8px;
		background-color: whitesmoke;
		margin-bottom: 1em;
		margin-left: 0.5em;
	}


	div.espaciarcolumna{
		padding-left: 0.4em;
	}

	div.centrarbonotesalarma{
	text-align: center;
	}
	
	div.bordeprimercolumna{
		border: 1px solid lightgrey;
        border-radius: 8px;
        background-color: whitesmoke;
        margin-bottom: 1em;
	}
	
	
	div.bordecolumna{
		border: 1px solid lightgrey;
/*         padding: 0.1em 0.3em; */
        border-radius: 8px;
        background-color: whitesmoke;
        margin-bottom: 1em;
    	margin-left: 0.2em;
	}
	
	small.alinearspanstatus{
	margin-right: 1em;
	margin-left: 1em;
	}
	
	div.letrazona {
    font-size: 55%;
	}
	
	img.imgsignal{
    width: 1.3em;
    height: auto;
    margin-top: -0.4em;
	}
	
	span.signaldef{
	margin-left:auto;
	}
	
	span.signaldef2{
	margin-right: 0.3em;
    margin-left: 0.2em;
	}
	 
	div.alinezones{
	margin-left: 0.8em;
	font-size: small;
	}
	
	div.alinedisplay{
	margin-left: 1em;
	}
	
	h6.subtitulo {
    font-size: small;
    color: gray !important;
	}

      div#left_buttons,
      div#right_buttons,
      div#keypad_container {
        border: 1px solid lightgrey;
        padding: 7px 0px;
        border-radius: 8px;
        background-color: whitesmoke;
      }

      div#left_buttons {
        flex: 0.7;
        max-width: 5.9rem;
        line-height: 1 !important;
      }

      div#right_buttons div.keypad_button_row {
        margin: 8px 10px;
      }

      div#keypad_container {
        flex: 2;
        margin: 0px 10px;
        max-width: 17.5rem;
        line-height: 1.5 !important;
      }

      div#right_buttons {
        flex: 0.7;
        max-width: 5.8rem;
        line-height: 1 !important;
      }
      
      div.bordezona{
    	border: 1px solid lightgrey;
    	border-radius: 8px;
    	background-color: whitesmoke;
      }
      
      div.bordegeneral{
      	margin-left: -0.2em;
      }
      
      button.tamanoboton1 {
    	height: 2em;
   		margin: 0em 0.1em 0em 0em;
   		width: 3.5em !important;
      }

      div#buttons_area {
        display: flex;
      }

      div.zones {
        background-color: whitesmoke;
      }

      div#zones_list {
        border-top: 1px solid grey;
        margin-top: 5px;
        padding-top: 5px;

        display: grid;
        grid-template-rows: repeat(16, auto);
        grid-gap: 10px;
        grid-auto-flow: column;
        font-size: 0.75rem;
      }

      div#regular_icons {
        display: flex;
        justify-content: space-between;
      }

      .green_circle {
        color: green;
      }

      .red_circle {
        color: red;
      }

      .orange_color {
        color: orange;
      }
      i.dsc-icon.icon-star {
        font-size: calc(0.45rem + 0.8vw);
        padding: 1rem 0px;

      }

      .alarm_zone {
        color: red;
      }
      
/*       esto es del archivo */
@font-face {
  font-family: 'dsc_icons';
  src:  url('/resources/fontsalarma/dsc_icons.eot?o9xp94');
  src:  url('/resources/fontsalarma/dsc_icons.eot?o9xp94#iefix') format('embedded-opentype'),
    url('/resources/fontsalarma/dsc_icons.ttf?o9xp94') format('truetype'),
    url('/resources/fontsalarma/dsc_icons.woff?o9xp94') format('woff'),
    url('/resources/fontsalarma/dsc_icons.svg?o9xp94#dsc_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

div.container {
  margin-top: 5px;
}

i.dsc-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dsc_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\e905";
}
.icon-ac:before {
  content: "\e90d";
}
.icon-trouble:before {
  content: "\e90e";
}
.icon-armed:before {
  content: "\e90f";
}
.icon-check:before {
  content: "\e910";
}
.icon-thief:before {
  content: "\e90b";
}
.icon-alert:before {
  content: "\e90c";
}
.icon-sleep:before {
  content: "\e90a";
}
.icon-bypass:before {
  content: "\e909";
}
.icon-programming:before {
  content: "\e908";
}
.icon-flame:before {
  content: "\e907";
}
.icon-info:before {
  content: "\e906";
}
.icon-stay_away:before {
  content: "\e904";
}
.icon-stay_empty:before {
  content: "\e903";
}
.icon-bell:before {
  content: "\e900";
}
.icon-refresh:before {
  content: "\e902";
}
.icon-exit:before {
  content: "\e901";
}

